.contact {
  background: linear-gradient(180deg, #fff 58%, var(--black) 42%);
}

.contact form {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.1);
}

.contact form .inputBox {
  position: relative;
}

.contact form .inputBox input,
.contact form .inputBox textarea {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 0;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.7rem;
  text-transform: none;
}

.contact form .inputBox textarea {
  resize: none;
  height: 15rem;
}

.contact form .inputBox input:focus,
.contact form .inputBox textarea:focus {
  border-color: var(--red);
}

.contact form .inputBox label {
  font-size: 1.7rem;
  position: absolute;
  top: 2.3rem;
  left: 0;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:valid ~ label {
  top: -0.4rem;
  font-size: 1.5rem;
  color: var(--red);
}
